@layer tokens {
    :where(:root, :host) {
  --colors-primary: #4EA8DE;
  --colors-lo-contrast: var(--color-gray1);
  --colors-hi-contrast: var(--color-gray12);
  --colors-gray-1: var(--color-gray1);
  --colors-gray-2: var(--color-gray2);
  --colors-gray-3: var(--color-gray3);
  --colors-gray-4: var(--color-gray4);
  --colors-gray-5: var(--color-gray5);
  --colors-gray-6: var(--color-gray6);
  --colors-gray-7: var(--color-gray7);
  --colors-gray-8: var(--color-gray8);
  --colors-gray-9: var(--color-gray9);
  --colors-gray-10: var(--color-gray10);
  --colors-gray-11: var(--color-gray11);
  --colors-gray-12: var(--color-gray12);
  --colors-gray-100: #e1e1e6;
  --colors-gray-200: #a9a9b2;
  --colors-gray-400: #7c7c8a;
  --colors-gray-500: #505059;
  --colors-gray-600: #323238;
  --colors-gray-700: #29292e;
  --colors-gray-800: #202024;
  --colors-gray-900: #121214;
  --colors-error-background: var(--color-red1);
  --colors-error-border: var(--color-red7);
  --colors-error-color: var(--color-red11);
  --colors-success-background: var(--color-grass1);
  --colors-success-border: var(--color-grass7);
  --colors-success-color: var(--color-grass11);
  --breakpoints-sm: 640px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;
  --breakpoints-xl: 1280px;
  --breakpoints-2xl: 1536px;
  --sizes-breakpoint-sm: 640px;
  --sizes-breakpoint-md: 768px;
  --sizes-breakpoint-lg: 1024px;
  --sizes-breakpoint-xl: 1280px;
  --sizes-breakpoint-2xl: 1536px;
  --colors-color-palette-1: var(--colors-color-palette-1);
  --colors-color-palette-2: var(--colors-color-palette-2);
  --colors-color-palette-3: var(--colors-color-palette-3);
  --colors-color-palette-4: var(--colors-color-palette-4);
  --colors-color-palette-5: var(--colors-color-palette-5);
  --colors-color-palette-6: var(--colors-color-palette-6);
  --colors-color-palette-7: var(--colors-color-palette-7);
  --colors-color-palette-8: var(--colors-color-palette-8);
  --colors-color-palette-9: var(--colors-color-palette-9);
  --colors-color-palette-10: var(--colors-color-palette-10);
  --colors-color-palette-11: var(--colors-color-palette-11);
  --colors-color-palette-12: var(--colors-color-palette-12);
  --colors-color-palette-100: var(--colors-color-palette-100);
  --colors-color-palette-200: var(--colors-color-palette-200);
  --colors-color-palette-400: var(--colors-color-palette-400);
  --colors-color-palette-500: var(--colors-color-palette-500);
  --colors-color-palette-600: var(--colors-color-palette-600);
  --colors-color-palette-700: var(--colors-color-palette-700);
  --colors-color-palette-800: var(--colors-color-palette-800);
  --colors-color-palette-900: var(--colors-color-palette-900);
  --colors-color-palette-background: var(--colors-color-palette-background);
  --colors-color-palette-border: var(--colors-color-palette-border);
  --colors-color-palette-color: var(--colors-color-palette-color)
}
  }
  