@layer tokens {
    @keyframes slideIn {
        from {
            transform: translateY(-100%)
        }
        to {
            transform: translateY(0%)
        }
    }
    @keyframes slideOut {
        from {
            transform: translateY(0%)
        }
        to {
            transform: translateY(-100%)
        }
    }
}