@layer utilities {
  .all_unset {
    all: unset
    }

  .w_1\.5rem {
    width: 1.5rem
    }

  .h_1\.5rem {
    height: 1.5rem
    }

  .bg_gray\.900 {
    background-color: var(--colors-gray-900)
    }

  .rounded_4px {
    border-radius: 4px
    }

  .cursor_pointer {
    cursor: pointer
    }

  .overflow_hidden {
    overflow: hidden
    }

  .box_border-box {
    box-sizing: border-box
    }

  .justify_center {
    justify-content: center
    }

  .items_center {
    align-items: center
    }

  .border_2px_solid_token\(colors\.gray\.900\) {
    border: 2px solid var(--colors-gray-900)
    }

  .\[\&\[data-state\=\"checked\"\]\]\:bg_primary[data-state="checked"] {
    background-color: var(--colors-primary)
        }

  .d_flex {
    display: flex
    }

  .text_hiContrast {
    color: var(--colors-hi-contrast)
    }

  .leading_0 {
    line-height: 0
    }

  .w_1rem {
    width: 1rem
    }

  .h_1rem {
    height: 1rem
    }

  .\[\&\[data-state\=\"checked\"\]\]\:animation_slideIn_150ms_var\(--transition-basic\)[data-state="checked"] {
    animation: slideIn 150ms var(--transition-basic)
        }

  .\[\&\[data-state\=\"unchecked\"\]\]\:animation_slideOut_150ms_var\(--transition-basic\)[data-state="unchecked"] {
    animation: slideOut 150ms var(--transition-basic)
        }

  .\[\&\:focus\]\:border_2px_solid_token\(colors\.primary\):focus {
    border: 2px solid var(--colors-primary)
        }
}